@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  width: 100vw;
  /* min-height: 100vh; */
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.font_feature {
  font-feature-settings: 'clig' off, 'liga' off;
}

.container {
  position: relative;
  text-align: center;
  color: pink;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.home {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

.flex-between {
  @apply flex justify-between items-center;
}

.form_input {
  @apply w-full md:w-96 flex rounded-lg my-3 p-3 text-xl text-black outline-0;
}