@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.font_feature {
  font-feature-settings: "clig" off, "liga" off;
}

.container {
  position: relative;
  text-align: center;
  color: pink;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yellow-background_radial {
  border-radius: 1212.828px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #fff5b7 0%,
    rgba(255, 245, 183, 0) 100%
  );
  background-position: bottom 0px right 0px;
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6;
}

.desc {
  @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

.flex-center {
  @apply flex justify-center items-center;
}

.home {
  @apply mt-16 mx-auto w-full max-w-xl flex justify-center items-center flex-col gap-2;
}

.flex-between {
  @apply flex justify-between items-center;
}

.form_input {
  @apply w-full md:w-96 flex rounded-lg my-3 p-3 text-xl text-black outline-0;
}
